* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main {
    background-image: url(car2.jpg);
    background-size: cover;
    background-blend-mode: hard-light;
    height: 100vh;
    color: white;
}

#header {
    margin: 0;
    padding: 20px;
}

.carDiv {
    display: flex;
    margin-left: 25px;
    gap: 1rem;
    font-size: larger;
    border-bottom: 0.5px solid black;
}

p {
    margin: 16px;
}